<ion-header>
  <ion-toolbar>
    <ion-title>
      Avaliação Firebase
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-input
      label="Nome"
      [(ngModel)]="nome">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      label="Email"
      [(ngModel)]="email">
    </ion-input>
  </ion-item>

  <ion-button
    expand="block"
    (click)="cadastrar()">

    Cadastrar
  </ion-button>

  <ion-list>

    @for(usuario of usuarios; track usuario.id){

      <ion-item>
        <ion-label>

          <h2>{{usuario.nome}}</h2>

          <p>{{usuario.email}}</p>
        </ion-label>

          <ion-button
          fill="outline"
          (click)="editar(usuario)">
          Editar
        </ion-button>

        <ion-button
          color="danger"
          (click)="excluir(usuario.id)">
          Excluir
        </ion-button>
  
      </ion-item>

    }

  </ion-list>

</ion-content>